---
import { getRelativeLocaleUrl } from 'astro:i18n';
import Fernsehturm from '../assets/images/fernsehturm.png';
import Hands from '../assets/images/hands.jpg';
import KidImg from '../assets/images/kid.jpg';
import AboutUs from '../assets/images/ueber-uns.jpg';
import WorldMap from '../assets/images/worldmap.png';
import Beratung from '../assets/images/services/beratung.jpg';
import Erziehung from '../assets/images/services/erziehung.jpg';
import SozialeProgramme from '../assets/images/christmas/gorlitz-3.jpeg';
import EngagementCallout from '../components/engagement-callout.astro';
import Footer from '../components/Footer.astro';
import PageHeader from '../components/page-header.astro';
import SectionHeader from '../components/section-header.astro';
import Section from '../components/Section.astro';
import { getLangFromLocale } from '../i18n';
import SiteLayout from '../layouts/SiteLayout.astro';
import { imageConfig } from 'astro:assets';

const lang = getLangFromLocale(Astro.currentLocale);

const missionList = [
  {
    title: 'Unterstützung bei der Elternschaft',
    description:
      'Praktische Anleitungen und Ressourcen, die Eltern helfen, starke, gesunde Beziehungen zu ihren Kindern aufzubauen.',
    image: Beratung,
  },
  {
    title: 'Familienberatung',
    description:
      'Vertrauliche Beratung, um die familiären Bindungen zu stärken, Konflikte zu lösen und die Kommunikation zu verbessern.',
    image: Erziehung,
  },
  {
    title: 'Soziale Programme',
    description:
      'Gemeinschaftsinitiativen, die Verbindung, Integration und persönliches Wachstum für alle fördern.',
    image: SozialeProgramme,
  },
  {
    title: 'Empowerment-Programme',
    description:
      'Tools und Ressourcen, die Einzelpersonen, insbesondere Jugendlichen, helfen, Selbstvertrauen, Resilienz und Führungsqualitäten zu entwickeln',
    image: KidImg,
  },
  {
    title: 'Allgemeine Unterstützung',
    description:
      'Alltägliche Hilfe bei der Finanzberatung, der Berufsvorbereitung und dem Zugang zu Community-Ressourcen. Wir sind da, um unter die Arme zu greifen und dauerhafte positive Veränderungen zu bewirken.',
    image: Hands,
  },
];
---

<SiteLayout>
  <PageHeader section="Über uns" subSection="Was uns antreibt." />
  <Section class="mt-16">
    <div class="grid md:grid-cols-2 gap-12">
      <img src={AboutUs.src} alt="" />
      <div class="space-y-6">
        <SectionHeader
          title="Unsere Vision und Mission"
          alignment="left"
          subTitle="Eine Gesellschaft der Vielfalt."
        />
        <div class="flex flex-col gap-6 font-light leading-loose">
          <p class="" id="vision">
            Es ist unsere Vision, eine Gesellschaft zu schaffen, in der jeder
            Einzelne geschätzt, unterstützt, verbunden und gerüstet ist, um zu
            wachsen und ein Leben in Würde und mit Sinn zu führen.
          </p>
        </div>
        <div class="space-y-6">
          <div
            class="flex flex-col gap-6 font-light leading-loose"
            id="mission"
          >
            <p class="">
              Gegründet auf den Grundlagen beruflicher Exzellenz und
              christlicher Werte, ist es unsere Mission, das Leben aller
              Kulturen und Nationen zu befähigen, zu fördern und zu verändern,
              damit sie ihr volles Potenzial ausschöpfen und ein qualitativ
              hochwertiges Leben durch verschiedene Arten von Empowerment,
              Sozialprogrammen und praktischer Unterstützung genießen können.
            </p>

            <p class="">
              Unser Ziel ist es, Barrieren abzubauen und ein Vorbote der
              Hoffnung für dauerhafte Veränderungen zu sein, welche sich auf je
              - ein Leben, eine Familie und eine Gemeinschaft nach der anderen
              auswirken werden.
              <span
                class="ml-2 inline text-secondary underline underline-offset-2 hover:text-orange-700"
              >
                <a
                  href={getRelativeLocaleUrl(
                    lang,
                    '/projekte/weihnachtsaktion',
                  )}>Unsere ehrenamtliche Arbeit -></a
                >
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </Section>
  <Section class="space-y-6 mt-16">
    <SectionHeader
      title="Unsere Dienstleistungen"
      subTitle="Menschen stärken, Perspektiven schaffen"
      alignment="left"
    />
    <div class="space-y-6 font-light">
      <p class="leading-loose">
        Als Brückenbauer verbinden wir Kulturen und begleiten Familien und junge
        Menschen dabei, neue Perspektiven im Leben zu schaffen. Durch Bildung,
        soziale Programme und interkulturelle Projekte bieten wir praktische
        Hilfe.
      </p>
      <div class="space-y-8">
        {
          missionList.map((mission) => (
            <div class="flex flex-col lg:flex-row gap-12 rounded-sm shadow-[2px_3.464px_40px_0px_rgba(14,5,1,0.04)]">
              <div class="lg:w-2/5 bg-gray-200">
                <div class="aspect-[4/3] overflow-hidden bg-gray-200 relative">
                  <img
                    src={mission.image.src}
                    alt=""
                    class="absolute inset-0 w-full h-full object-cover"
                  />
                </div>
              </div>
              <div class="space-y-4 lg:w-3/5 lg:py-8 ">
                <h2 class="font-bold text-teal-950 text-2xl">
                  {mission.title}
                </h2>
                <p class="leading-loose pr-12">{mission.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Section>

  <Section class="my-16">
    <div class="grid md:grid-cols-2 gap-12">
      <div class="space-y-6">
        <SectionHeader
          title="Unsere Werte"
          subTitle="Das Fundament unserer Arbeit"
          alignment="left"
        />
        <div class="flex flex-col gap-6 font-light leading-loose">
          <p class="">
            Unser Handeln basiert auf christlichen und ethischen Grundwerten.
            Diese Werte prägen unsere tägliche Arbeit und bestimmen, wie wir
            Menschen begegnen.
          </p>
          <div>
            <p>Unsere Kernwerte:</p>
            <ul class="list-disc list-inside px-4 space-y-2">
              <li>
                <span class="font-semibold">Respekt und Würde</span>
                - Wir begegnen jedem Menschen auf Augenhöhe und achten seine einzigartige
                Würde.
              </li>

              <li>
                <span class="font-semibold">Nächstenliebe</span> - Als christliche
                Organisation leben wir tätige Nächstenliebe und setzen uns für andere
                ein.
              </li>

              <li>
                <span class="font-semibold">Professionalität</span> - Wir verbinden
                herzliche Zuwendung mit fachlicher Kompetenz und hohen Qualitätsstandards.
              </li>

              <li>
                <span class="font-semibold">Vertrauen</span> - Wir schaffen eine
                Atmosphäre des Vertrauens als Grundlage für nachhaltige Beziehungen.
              </li>

              <li>
                <span class="font-semibold">Vielfalt</span> - Wir sehen kulturelle
                Vielfalt als Bereicherung und fördern das Miteinander verschiedener
                Kulturen.
              </li>

              <li>
                <span class="font-semibold">Verantwortung</span> - Wir übernehmen
                Verantwortung für unser Handeln und setzen uns für eine gerechte
                Gesellschaft ein.
              </li>

              <li>
                <span class="font-semibold">Nachaltigkeit</span> - Wir arbeiten an
                langfristigen Lösungen und setzen uns für dauerhafte positive Veränderungen
                ein.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <img src={Fernsehturm.src} alt="" class="brightness-90" />
    </div>
  </Section>
  <EngagementCallout />
  <Footer />
</SiteLayout>
